:root {
    --space-m: 12px;
    --space-xm: 16px;
    --space-s: 8px;
    --space-l: 24px;
    --space-b: 36px;

    --size-s: 14px;
    --size-d: 16px;
    --size-l: 20px;
    --size-b: 24px;

    --color-border: #d3dee9;
    --color-primary: rgb(46, 46, 255);
    --color-white: #fff;
    --color-title: #212529;
    --color-text: #343a40;

    --border-radius-d: 12px;
    --border-radius-s: 4px;

    --weight-title: 500;
    --weight-text: 400;
    --page-width: 1000px
}

/* ========================== */

.page {
    background: var(--color-white);
    padding: 0 15px;
    display: flex;
    justify-content: center;
}

.page_content {
    max-width: var(--page-width);
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 80px;
}

/* ========================== */

.header {
    padding: var(--space-l) 0;
    border-bottom: 1px solid var(--color-border) ;
    display: flex;
    justify-content: space-between;
    position: sticky;
    max-width: var(--page-width);
    width: 100%;
    top: 0;
    background-color: var(--color-white);
    z-index: 1;
}
.logo {
    font-size: 17px;
    color: var(--color-white);
    background: var(--color-primary);
    width: 24px;
    height: 24px;
    border-radius: calc(var(--border-radius-d) / 2);
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav {
    display: flex;
}
.nav_inline {
    gap: var(--space-l);
}
.nav_vertical {
    gap: var(--space-xm);
    flex-direction: column;
}
.nav_link {
    color: var(--color-text);
    font-size: var(--size-d);
    text-decoration: none;

    transition-property: color;
    transition-duration: 1s;
}
.nav_link:hover {
    text-decoration: underline;
    color: var(--color-primary);
}


.footer {
    display: flex;
    justify-content: space-between;
    padding: var(--space-l) 0;
    border-top: 1px solid var(--color-border) ;

}
.footer_copyright {
    font-size: var(--size-s);
    color: var(--color-text);
    display: block;
    margin-top: var(--space-l);
}
.footer_title{
    font-size: var(--size-l);
    color: var(--color-title);
    display: block;
    margin-bottom: var(--space-l);
    font-weight: var(--weight-title);
}

.main {
    display: flex;
    width: 100%;
    gap: 24px;
    align-items: center;
}
.info {
    max-width: 580px;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.info_title {
    font-size: 56px;
    color: #212529;
    font-weight: 700;
    padding-bottom: 24px;
}
.info_text {
    font-size: 24px;
    color: #212529;
    font-weight: 400;
    width: 410px;
}
.form {
    max-width: 390px;
    width: 100%;
    background-color: #f8f9fa;
    border-radius: var(--border-radius-s);
    border: 1px solid #dee2e6;
    padding: 60px;
    display: flex;
    flex-direction: column;
    gap: var(--space-l);
}
.form_info {
    
    font-size: var(--size-d);
    font-weight: var(--weight-text);
    color: #6c757d;
}
.divider {
    opacity: 0.25;
    background: #212529;
    height: 1px;
    align-self: stretch;
}
.form_button {
    text-align: center;
    color: var(--color-white);
    border-radius: var(--border-radius-s);
    background-color: var(--color-primary);
    padding: 12px;
    transition: opacity 0.7s;
}
.form_button:hover {
    opacity: 0.7;
}
.form_button:active {
    opacity: 0.3;
}
.form_input_list {
    display: flex;
    gap: var(--space-m);
    flex-direction: column;

}
.form_input {
    padding: var(--space-xm);
    border: 1px solid #ced4da;
    border-radius: var(--border-radius-s);
    background-color: var(--color-white);
}
.form_input::placeholder {
    color: var(--color-title);
    font-size: var(--size-d);
}
.form_checkbox {
    display: flex;
    gap: var(--space-s);
    align-items: center;
}

.form_checkbox > input {
    display: none;
}
.form_checkbox > input~ div {
    border: 1px solid #767676;
    border-radius: 4px;
    height: 13px;
    width: 13px;
    background-color: var(--color-white);
}
.form_checkbox > input:checked ~ div {
    border: 1px solid var(--color-primary);
    background-color: var(--color-primary);
}
.form_checkbox > label {
    color: var(--color-title);
    font-size: var(--size-d);
    cursor: pointer;
}

.updates {
    max-width: 1000px;
    width: 100%;
    padding: var(--space-l);
    display: flex;
    flex-direction: column;
    /* gap: var(--space-l); */
}
.updates_title {
    font-size: 24px;
    color: #212529;
    font-weight: 400;
    padding-bottom: var(--space-m);
    border-bottom: 1px solid var(--color-border);
    margin-bottom: 12px;
}
.upd {
    display: flex;
    padding: 12px 0;
    gap: 8px;
}
.upd_icon {
    height: 32px;
    width: 32px;
}
.upd_icon_1 {
    background-color: #007bff;
}
.upd_icon_2 {
    background-color: #e83e8c;
}
.upd_icon_3 {
    background-color: #6F42C1;
}

.upd_description {
    display: flex;
    flex-direction: column;
    gap: var(--space-m);
    padding-bottom: var(--space-m);
    border-bottom: 1px solid var(--color-border);
}
.updates_nickname {
    font-size: 12px;
    color: #6c757d;
    font-weight: 700;
    line-height: 16px;
}
.updates_description {
    font-size: 16px;
    color: #6c757d;
    font-weight: 400;
}
.upd_link {
    color: var(--color-primary);
    font-size: 14px;
    padding-top: 12px;
    transition-duration: 0.7s ;
    transition-property: opacity, border-color;
}
.upd_link:hover {
    opacity: 0.7;
    border-color: var(--color-primary);
}

.expirience {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 24px;
    background-color: #f8f9fa;
}
.expirience > div {
    display: flex;
    gap: 24px;
}
.exp_card {
    display: flex;
    flex-direction: column;
    /* border: 1px solid #e4eaf2; */
    border-radius: var(--border-radius-d);
    padding: 16px;
    gap: 8px;
    width: 100%;
    background-color: #212529;
}
.exp_title {
    color: #212529;
    font-size: 42px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    margin-bottom: 24px;
}
.exp_card > strong {
    color: var(--color-white);
    font-weight: 700;
    font-size: 20px;
}
.exp_card > p {
    color: #b1b1b1;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
}
.exp_badge {
    position: absolute;
    background-color: #FF7347;
    border-radius: 70px;
    transform: rotate(30deg);
    padding: 12px 24px;
    align-items: center;
    color: #FFF;
    font-size: 24px;
    font-weight: 700;
    line-height: 120%;
    top: -25px;
    right: -35px;
}
